#Features Engineering

##Age Group

In [54]:
df_temp['age_group'] = pd.cut(df_temp['age'], bins=[0, 18, 25, 35, 45, 55, 65, 100], labels=['<18', '18-25', '26-35', '36-45', '46-55', '56-65', '>65'])

##Membership Duration

In [52]:
#durasi max dari paling current membership_date
df_temp['membership_duration'] = (df_temp['membership_date'].max() - df_temp['membership_date']).dt.days

##City

In [55]:
df_temp['city'] = df_temp['full_address'].apply(lambda x: x.split(',')[1].strip())

##State

In [56]:
df_temp['State'] = df_temp['full_address'].apply(lambda x: x.split(',')[2].strip())

##Membership Month

In [57]:
df_temp['membership_month'] = df_temp['membership_date'].dt.month

##Membership Year

In [58]:
df_temp['membership_year'] = df_temp['membership_date'].dt.year

##Is Married

In [59]:
df_temp['is_married'] = df_temp['martial_status'].apply(lambda x: 1 if x.lower() == 'married' else 0)